<app-navbar></app-navbar>

<section class="titulo container-fluid sombra px-3 mb-4 ">
    <div class="container text-center p__custom">
        <h1 class="text-white">Faculty</h1>
    </div>
</section>

<section class="container-fluid">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>Adriana Tortajada</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>Juan Pablo Medina - Mora</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>José Antonio González Anaya</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>Adriana Tortajada</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>Adriana Tortajada</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-4 py-3 px-lg-4 py-lg-2">
                <div class="text-center">
                    <img class="img-fluid rounded-circle" src="/assets/img/pvm/Adriana Tortajada.png" alt="">
                </div>
                <div class="pt-3 text-center">
                    <h3>Adriana Tortajada</h3>
                    <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
                </div>
            </div>



        </div>
    </div>
</section>

<app-footer></app-footer>