/* Generales */

:root{
    --gris: #f0f0f0cb;
    --negro: #000000;
    --amarillo: #DFBD69;
    --dorado: #926F34;
    --rojo01: #92000A;
}
  /* background: linear-gradient(90deg, #000428, #004e92); */
  /* box-shadow: 15px 15px 25px rgba(0, 0, 0, .2); */
  /*box-shadow: 15px 15px 30px rgba(0, 0, 0, .6);*/

.p__custom{
    padding: 50px 0 50px 0;
}
h1{
    font-size: 70px;
}
.sombra{
    box-shadow: 15px 15px 25px rgba(0, 0, 0, .2);
}
.titulo{
    background: linear-gradient(90deg, #926F34, #DFBD69);
}
.bg-degradado01{
    background: linear-gradient(0deg, #92000A, #000000);
}
.bg-custom{
    background-color:#92000A ;
}
.bg-custom02{
    background-color:#f0f0f0;
}
.bg-custom03{
    background-color: #DFBD69;
}
.color01{
    color: #926F34;
}
.color02{
    color: #92000A;
}
ul{
    list-style: none;
}

.img-fluid{
    width: auto;
    height: 190px;
}