<app-navbar></app-navbar>

<section class="titulo container-fluid sombra py-5 px-3 mb-4">
    <div class="container text-center">
        <h2 class="text-white pt-3">Executive Program:</h2>
        <h1 class="text-white pb-3">Private Wealth Management</h1>
    </div>
</section>

<section class="container pt-lg-4">
    <div class="row ">
        <div class="col-11 col-lg-7 mx-auto px-lg-5">
            <div class="pb-2">
                <h3 class="pb-1 color01">Domina la nueva era de private Wealth Management</h3>
                <p>
                    El mundo de la gestión patrimonial ha evolucionado.Lo que antes era una banca privada tradicional, hoy es un exosistema global donde la sofisticación financiera, la tecnología y la regulación redefinen las reglas del juego. <span class="color02 fw-bold">En este entorno dinámico, solo quienes se preparan con visión y estrategia pueden liderar.</span>
                </p>
            </div>
            <div class="pb-2">
                <h3 class="pb-1 color01">Un programa para líderes en la gestión de patrimonios</h3>
                <p>
                    El <span class="color02 fw-bold">Programa de Private Wealth Management 2025</span> es más que una capacitación: es una oportunidad exclusiva para adquirir el conocimiento y las herramientas que hoy definen el éxito en la industria.
                </p>
            </div>
            <div class="pb-2">
                <h3 class="pb-1 color01">Conviertete en un banquero UHNWI</h3>
                <ul>
                    <li class="color02 fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>  Dominio Estratégico</li>
                    <ul class="pb-3">
                        <li>Aprende a estructurar patrimonio con visión global, optimizando inversión, fiscalidad y planificación sucesoria.</li>
                    </ul>
                    <li class="color02 fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>  Innovación y Tecnología</li>
                    <ul class="pb-3">
                        <li>Integra WealthTech, inteligencia artificial y modelos híbridos de asesoría para evaluar tu propuesta de valor.</li>
                    </ul>
                    <li class="color02 fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>  Regulación y Compliance</li>
                    <ul class="pb-3">
                        <li>Entiende las normativas internacionales y crea estructuras eficientes en un entorno de máxima transparencia.</li>
                    </ul>
                    <li class="color02 fw-bold"><i class="bi bi-check-circle-fill pe-2"></i>  Visión de Futuro</li>
                    <ul class="pb-3">
                        <li>Anticípate a las nuevas generaciones de clientes que buscan crecimiento, impacto social y preservación de legado.</li>
                    </ul>
                </ul>
            </div>
            <div class="pb-3">
                <h3 class="pb-1 color01">Diseñado para</h3>
                <p class="color02 fw-bold">
                    - Banqueros privados, wealth managers y asesores financieros.
                </p>
                <p class="color02 fw-bold">
                    - Empresarios, inversionistas y herederos.
                </p>
                <p class="color02 fw-bold">
                    - Ejecutivos de banca, seguros y fondos de inversión.
                </p>
             
            </div>
            <div class="row pb-4">
                <div class="col-12 d-flex justify-content-center">
                    <iframe class="iframe-fluid" src="https://www.youtube.com/embed/NiYRjvyQzUM?si=1ekZ5YaUVfSa_wPG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            
        </div>
        <div class="col-11 col-lg-5 mx-auto ">
            <div class="bg-custom p-3 rounded-3 text-center text-white sombra">
                <h5>Iniciamos en Abril de 2025</h5>
                <h4>INSCRÍBETE</h4>
            </div>
            <div class="bg-custom02 p-4 rounded-3 sombra">
                <div>
                    <button class="d-flex color02 btn w-100" routerLink="/modulo">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto ">MODULO I</h5>
                    </button>
                    <p class="ps-5 color01">Private Wealth Management</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO II</h5>
                    </div>
                    <p class="ps-5 color01">Inteligencia Estratégica, Liderazgo y Negociación</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO III</h5>
                    </div>
                    <p class="ps-5 color01">Planeación Financiera y Retiro</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO IV</h5>
                    </div>
                    <p class="ps-5 color01">Filantropía</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO V</h5>
                    </div>
                    <p class="ps-5 color01">Insurance Strategies for Wealth Management</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO VI</h5>
                    </div>
                    <p class="ps-5 color01">Luxury & Art as Alternative Investments</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO VII</h5>
                    </div>
                    <p class="ps-5 color01">Estrategias y Optimización Impositiva (Tax - Wise Investing)</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO VIII</h5>
                    </div>
                    <p class="ps-5 color01">Mercados Financieros (Públicos y Alternativos)</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO IX</h5>
                    </div>
                    <p class="ps-5 color01">Mercados Privados e Inversiones en Activos Alternativos</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO X</h5>
                    </div>
                    <p class="ps-5 color01">Trading Economics, Análisis e Interpretación de Variable Económica y su Impacto</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO XI</h5>
                    </div>
                    <p class="ps-5 color01">Asset Allocation & Asset Management</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO XII</h5>
                    </div>
                    <p class="ps-5 color01">Family Offices</p>
                </div>
                <div>
                    <div class="d-flex color02">
                        <i class="bi bi-plus fs-2 pe-2"></i>
                        <h5 class="my-auto">MODULO XIII</h5>
                    </div>
                    <p class="ps-5 color01">Geopolitical Risk</p>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-3 d-flex">
        <h2 class="color01 pb-4">FACULTY</h2>
        <div class="col-11 col-sm-6 col-lg-3 text-center">
            <img src="/assets/img/pvm/Jose Antonio Anaya.png" alt="" class="img-fluid rounded-circle " >
            <h4 class="pt-3  rounded-4">JOSÉ ANTONIO ANAYA</h4>
            <p class="color01">FORMER MINISTER FINANCE OF MÉXICO</p>
            
        </div>
        <div class="col-11 col-sm-6 col-lg-3 text-center">
            <div>
                <img src="/assets/img/pvm/Adriana Tortajada.png" alt="" class="img-fluid rounded-circle" >
            </div>
            <div>
                <h4 class="pt-3  rounded-4">ADRIANA TORTAJADA</h4>
                <p class="color01">CEO & MANAGING PARTNER 1200VC</p>
            </div>
        </div>
        <div class="col-11 col-sm-6 col-lg-3 text-center">
            <img src="/assets/img/pvm/Jorge Arce.png" alt="" class="img-fluid rounded-circle">
            <h4 class="pt-3  rounded-4">JORGE ARCE</h4>
            <p class="color01">PRESIDENT AND CHIEF EXECUTIVE OFFICER HSBC MÉXICO</p>
            
        </div>
        <div class="col-11 col-sm-6 col-lg-3 text-center">
            <img src="/assets/img/pvm/Steve Trautman.png" alt="" class="img-fluid rounded-circle">
            <h4 class="pt-3  rounded-4">STEVE TRAUTMAN</h4>
            <p class="color01">FOUNDER THE STEVE TRAUTMAN CO</p>
        </div>
        

        
    </div>
</section>

<app-footer></app-footer>
