<app-navbar></app-navbar>

<section class="container-fluid p-0">
    <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <button class="carousel-item active btn p-0">
            <img src="/assets/img/homePage/img__background.webp" class="img-fluid d-block w-100" alt="...">
          </button>
          <button class="carousel-item btn p-0">
            <img src="/assets/img/homePage/img__background.webp" class="img-fluid d-block w-100" alt="...">
          </button>
          <button class="carousel-item btn p-0">
            <img src="/assets/img/homePage/img__background.webp" class="img-fluid d-block w-100" alt="...">
          </button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-10 col-lg-9 col-xl-3 bg-custom mx-auto my-3 my-xl-0 p-0 rounded-5 no-seleccionable">
                    <h4 class="bg-custom__amarillo pt-4 px-3 pb-4">Executive Programs</h4>
                    <p class="px-5 pt-2">
                        Transforma tu carrera en Wealth Management. <br>Aprende estrategias avanzadas de gestion patrimonial, mercados financieros y sucesión. Diseñado para lideres y HNWIs que buscan destacar en el mundo. 
                    </p>
            </div>
            <div class="col-10 col-lg-9 col-xl-3 bg-custom mx-auto my-3 my-xl-0 p-0 rounded-5 no-seleccionable">
                <h4 class="bg-custom__amarillo pt-4 px-3 pb-4">Misión</h4>
                <p class="px-5 pt-2">
                    Empoderamos a profesionales financieros con educacion de excelencia en innovación, formando líderes en gestión patrimonial capaces de ofrecer soluciones estratégicas y personalizadas para el crecimiento sostenible de sus clientes.
                </p>
            </div>
            <div class="col-10 col-lg-9 col-xl-3 bg-custom mx-auto my-3 my-xl-0 p-0 rounded-5 no-seleccionable">
                <h4 class="bg-custom__amarillo pt-4 px-3 pb-4 ">Visión</h4>
                <p class="px-5 pt-2">
                    Queremos ser el instituto lider global en educacion en gestión patrimonial, reconocido por excelencia académica e innovación, y ser referente para profesionales del sector financiero.
                </p>
            </div>
        </div>
    </div> -->
</section>

<section>
    <app-programas></app-programas>
</section>

<app-footer></app-footer>