<app-navbar></app-navbar>

<section class="titulo container-fluid sombra px-3 mb-4 ">
    <div class="container text-center p__custom">
        <h1 class="text-white">Modulo l</h1>
        <h3 class="text-white">Private Wealth Management</h3>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 pt-4">
                <div class="pt-3 pe-lg-5">
                    <h3>Abstract</h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                     
                    </p>
                </div>
                <div class="pt-3 pe-lg-5">
                    <h3>Objetivo</h3>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae, ullam cum esse dicta, illum iure minima excepturi. Similique, labore sit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate fugit perspiciatis temporibus ea debitis dolore nisi, explicabo veniam recusandae.
                        
                    </p>
                </div>
                <div class="pt-3 pe-lg-5">
                    <h3>Highlights</h3>
                    <hr>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                    <ul>
                        <li>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum error a id voluptatem nam sit, mollitia voluptatum sunt tempora eum sint minima corporis,

                        </li>
                    </ul>
                
                </div>
                <div class="row py-4">
                    <div class="col-5 mx-auto">
                        <button class="btn btn-danger w-100">Más información</button>
                    </div>
                    <div class="col-5 mx-auto">
                        <button class="btn btn-danger w-100">Comprar</button>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-5 pt-4">

                <div class="row pb-4">
                    <div class="col-7 mx-auto">
                        <div class="bg-custom02 rounded-5 sombra">
                            <div class="text-center">
                                <img src="/assets/img/pvm/Adriana Tortajada.png" alt="" class="img-fluid">
                            </div>
                            <div class="text-center">
                                <h4 class="bg-degradado01 text-white px-4 py-3">ADRIANA TORTAJADA</h4>
                                <p class="pb-3 pt-2 px-4 fw-bold">CEO & MANAGING PARTNER 1200VC</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-9  mx-auto bg-custom02">
                        <div class="bg-degradado02">
                            <h3>Iniciamos en Abril 2025</h3>
                        </div>
                        <div>
                            <div>
                                <div class="d-flex color02 w-100" >
                                    <i class="bi bi-plus fs-2 pe-2"></i>
                                    <h5 class="my-auto ">MODULO I</h5>
                                </div>
                                <p class="ps-5 color01">Private Wealth Management</p>
                            </div>
                            <div>
                                <div class="d-flex color02 w-100" >
                                    <i class="bi bi-plus fs-2 pe-2"></i>
                                    <h5 class="my-auto ">MODULO I</h5>
                                </div>
                                <p class="ps-5 color01">Private Wealth Management</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>